*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@keyframes fadeInUp {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes rotateScale {
    from{
        transform: scale(1);
    }
    to{
        transform: scale(1.5) rotate(1turn);
        
    }
}
html,
body{
    width: 100vw;
    height: 100vh;
    background-color: lightgray;
}
h1{
    font-size: 2rem;
}
li{
    list-style: none;
}
nav{
    background-color: white;
    margin: 0;
    width: auto;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5vw;
    z-index: 10;
    position: sticky;
    top: 0;
}
.links2{
    display: flex;
    gap: 1.5vw;
}
.headerImg{
    height: 5vh;
}
#slant{
    height: 75vh;
    background-color: rgb(1, 1, 95);
    transform: skew(0deg, -10deg) translateY(-175px);
}
#content{
    display: flex;
    margin: 0 10vw;
    height: 40vw;
    transform: skew(0deg, 10deg);
    padding: 10vh;
    padding-top: 13vw;
}

#aboutMe{
    margin: 8vh;
    padding: 3vh;
    background-color: white;
    margin-left: 0;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
#aboutMe > h2{
    margin-bottom: 2vh;
}
h2{
    font-size: 2rem;
}
.meImg{
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    max-width: 40vw;
}
#projCon{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2vw;
    margin-top: 1vw;
}
.projTxt{
    display: flex;
    flex-direction: column;
    padding: 1vw;
    gap: .75vw;
}
.projTxt > p {
    font-size: 1.25rem;
}
.projTitle{
    font-size: 1.5rem;
}
.project{
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    animation: fadeInUp ease-out both;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
    max-width: 40vw;
    transition: transform .5s;
}
main{
    margin: 10vh 10vw;
}
.screenshot{
    max-width: 40vw;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.icon{
    max-width: 50px;
}
.project:hover{
    transform: scale(1.05);
}
.links > a{
    margin-right: 1vw;
}
a > img:hover{
    animation: rotateScale .5s forwards;
}
footer{
    background-color: white;
    margin-top: 10vw;
    min-height: 10vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5vw;
}

@media (max-width: 1500px){
    #content{
        flex-direction: column;
    }
    main{
        margin-top: 30vw;
    }
    #aboutMe{
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
    }
    .meImg{
        margin-top: 15vh;
    }
}
@media (max-width: 800px){
    #projCon{
        grid-template-columns: 1fr
    }
    .project{
        max-width: 80vw;
    }
    .screenshot{
        max-width: 80vw;
    }
    .meImg{
        margin-top: 20vh;
    }
    #aboutMe{
        margin: 0;
        margin-top: 5vw;
    }
    #content{
        width: 100vw;;
    }
    
}
