*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,
body{
    width: 100vw;
    height: 100vh;
    background-color: rgb(199, 208, 216);
}
h1{
    font-size: 2rem;
}
li{
    list-style: none;
}
nav{
    background-color: white;
    margin: 0;
    width: auto;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5vw;
    z-index: 10;
    position: sticky;
}
nav > ul{
    display: flex;
    gap: 1.5vw;
}
.headerImg{
    height: 5vh;
}
#slant{
    height: 75vh;
    background-color: rgb(1, 1, 129);
    transform: skew(0deg, -10deg) translateY(-175px);
}
#content{
    display: flex;
    margin: 0 10vw;
    height: 40vw;
    transform: skew(0deg, 10deg);
    padding: 10vh;
    padding-top: 13vw;
}

#aboutMe{
    margin: 8vh;
    padding: 3vh;
    background-color: white;
    margin-left: 0;
}
#aboutMe > h2{
    margin-bottom: 2vh;
}
#aboutMe > img{
    flex-shrink: 3;
}
#projCon{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1vw;
    margin-top: 1vw;
}
.project{
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    padding: 1vw;
}
main{
    margin: 10vh 10vw;
}
.screenshot{
    max-width: 30vw;
}
.icon{
    max-width: 25px;
}

@media (max-width: 1500px){
    #content{
        flex-direction: column;
    }
    main{
        margin-top: 30vw;
    }
}
@media (max-width: 800px){
    #projCon{
        grid-template-columns: 1fr
    }
}
